=simple_error_messages_for :local
-tab :general do
  %table.full
    %tr
      %td.fixed=human_name_for :local, :nome
      %td=text_field :local, :nome
    %tr
      %td.fixed=human_name_for :local, :empresa
      %td=text_field :local, :empresa
    %tr
      %td.fixed=human_name_for :local, :sigla
      %td=text_field :local, :sigla
      