=simple_error_messages_for :forma
-tab :general do
  %table.full
    %tr
      %td.fixed=human_name_for :forma, :texto
      %td=text_field :forma, :texto
    %tr
      %td.fixed=human_name_for :forma, :sigla
      %td=text_field :forma, :sigla
      